@page
@model GitDC.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="full height">
    <noscript>This website works better with JavaScript</noscript>


    <div class="following bar light">
        <div class="ui container">
            <div class="ui grid">
                <div class="column">
                    <div class="ui top secondary menu">
                        <a class="item brand" href="/">
                            <img class="ui mini image" src="/img/favicon.png">
                        </a>


                        <a class="item active" href="/">首页</a>


                        <a class="item" href="/explore/repos">发现</a>




                        <a class="item" target="_blank" rel="noopener noreferrer" href="https://gogs.io/docs" rel="noreferrer">帮助</a>
                        <div class="right menu">

                            <a class="item" href="/user/sign_up">
                                <i class="octicon octicon-person"></i> 注册
                            </a>

                            <a class="item" href="/user/login?redirect_to=">
                                <i class="octicon octicon-sign-in"></i> 登录
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="home">
        <div class="ui stackable middle very relaxed page grid">
            <div class="sixteen wide center aligned centered column">
                <div class="logo">
                    <img src="/img/favicon.png" />
                </div>
                <div class="hero">
                    <h1 class="ui icon header title">
                        Gogs
                    </h1>
                    <h2>一款极易搭建的自助 Git 服务</h2>
                </div>
            </div>
        </div>

        <div class="ui stackable middle very relaxed page grid">
            <div class="eight wide center column">
                <h1 class="hero ui icon header">
                    <i class="octicon octicon-flame"></i> 易安装
                </h1>
                <p class="large">
                    您除了可以根据操作系统平台通过 <a target="_blank" rel="noopener noreferrer" href="https://gogs.io/docs/installation/install_from_binary.html">二进制运行</a>，还可以通过 <a target="_blank" rel="noopener noreferrer" href="https://github.com/gogits/gogs/tree/master/docker">Docker</a> 或 <a target="_blank" rel="noopener noreferrer" href="https://github.com/geerlingguy/ansible-vagrant-examples/tree/master/gogs">Vagrant</a>，以及 <a target="_blank" rel="noopener noreferrer" href="https://gogs.io/docs/installation/install_from_packages.html">包管理</a> 安装。
                </p>
            </div>
            <div class="eight wide center column">
                <h1 class="hero ui icon header">
                    <i class="octicon octicon-device-desktop"></i> 跨平台
                </h1>
                <p class="large">
                    任何 <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go 语言</a> 支持的平台都可以运行 Gogs，包括 Windows、Mac、Linux 以及 ARM。挑一个您喜欢的就行！
                </p>
            </div>
        </div>
        <div class="ui stackable middle very relaxed page grid">
            <div class="eight wide center column">
                <h1 class="hero ui icon header">
                    <i class="octicon octicon-rocket"></i> 轻量级
                </h1>
                <p class="large">
                    一个廉价的树莓派的配置足以满足 Gogs 的最低系统硬件要求。最大程度上节省您的服务器资源！
                </p>
            </div>
            <div class="eight wide center column">
                <h1 class="hero ui icon header">
                    <i class="octicon octicon-code"></i> 开源化
                </h1>
                <p class="large">
                    所有的代码都开源在 <a target="_blank" rel="noopener noreferrer" href="https://github.com/gogits/gogs/">GitHub</a> 上，赶快加入我们来共同发展这个伟大的项目！还等什么？成为贡献者吧！
                </p>
            </div>
        </div>

    </div>

</div>
<footer>
    <div class="ui container">
        <div class="ui left">
            © 2019 Gogs 当前版本: 0.11.91.0811 页面: <strong>2ms</strong> 模板: <strong>2ms</strong>
        </div>
        <div class="ui right links">

            <div class="ui language bottom floating slide up dropdown link item">
                <i class="world icon"></i>
                <div class="text">简体中文</div>
                <div class="menu">

                    <a class="item active selected" href="#">简体中文</a>

                    <a class="item " href="?lang=en-US">English</a>

                    <a class="item " href="?lang=zh-HK">繁體中文（香港）</a>

                    <a class="item " href="?lang=zh-TW">繁體中文（臺灣）</a>

                    <a class="item " href="?lang=de-DE">Deutsch</a>

                    <a class="item " href="?lang=fr-FR">français</a>

                    <a class="item " href="?lang=nl-NL">Nederlands</a>

                    <a class="item " href="?lang=lv-LV">latviešu</a>

                    <a class="item " href="?lang=ru-RU">русский</a>

                    <a class="item " href="?lang=ja-JP">日本語</a>

                    <a class="item " href="?lang=es-ES">español</a>

                    <a class="item " href="?lang=pt-BR">português do Brasil</a>

                    <a class="item " href="?lang=pl-PL">polski</a>

                    <a class="item " href="?lang=bg-BG">български</a>

                    <a class="item " href="?lang=it-IT">italiano</a>

                    <a class="item " href="?lang=fi-FI">suomi</a>

                    <a class="item " href="?lang=tr-TR">Türkçe</a>

                    <a class="item " href="?lang=cs-CZ">čeština</a>

                    <a class="item " href="?lang=sr-SP">српски</a>

                    <a class="item " href="?lang=sv-SE">svenska</a>

                    <a class="item " href="?lang=ko-KR">한국어</a>

                    <a class="item " href="?lang=gl-ES">galego</a>

                    <a class="item " href="?lang=uk-UA">українська</a>

                    <a class="item " href="?lang=en-GB">English (United Kingdom)</a>

                    <a class="item " href="?lang=hu-HU">Magyar</a>

                    <a class="item " href="?lang=sk-SK">Slovenčina</a>

                    <a class="item " href="?lang=id-ID">Indonesian</a>

                    <a class="item " href="?lang=fa-IR">Persian</a>

                    <a class="item " href="?lang=vi-VN">Vietnamese</a>

                    <a class="item " href="?lang=pt-PT">Português</a>

                </div>
            </div>
            <a href="/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
            <a target="_blank" rel="noopener noreferrer" href="https://gogs.io">官方网站</a>
            <span class="version">Go1.12.7</span>
        </div>
    </div>
</footer>
<script src="/js/libs/emojify-1.1.0.min.js"></script>
<script src="/js/libs/clipboard-1.5.9.min.js"></script>