@media (min-width: 1200px) {
    .ding-logo img {
        float: right;
    }
}

@media (min-width: 1000px) {
    .ding-logo img {
        float: right;
    }
}

@media (min-width: 760px) {
    .ding-logo img {
        float: right;
    }
}